<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title" translate="login.title">Sign in</h4>
</div>

<link rel="import" href="http://localhost:5000/elements/loginForm/login-form.html">
  <script src="http://localhost:5000/scripts/components/ajax.js"></script>
  <script src="http://localhost:5000/scripts/components/auth.js"></script>
  <script src="http://localhost:5000/scripts/components/frontLogin.js"></script>
  <script src="http://localhost:5000/scripts/main.js"></script>
<div class="modal-body">
    	<login-form></login-form>
</div>

